body {
			background: #E27D60;
			font-family: arial;
		}
		body > div:first-child {
			height: 200px;
			border: 1px solid gray;
			overflow: hidden;
			padding: 30px;
			background: #41A3B3;
			text-align: center;
			clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
		}
		#students div { 
			height: 200px;
			width: 20%;
			float: left;
			border: 2px solid gray;
			overflow: auto;
			padding: 20px;
			margin: 0 0 20px 20px;		
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);	
			

		}
		#students div:nth-child(odd) {
			background: #E8A87C;
		}
		#students div:nth-child(even) {
			background: #C38D9E;
		}
		#students h1, #students h2 {text-align: center}
